@import url(https://fonts.googleapis.com/css?family=Nunito);
@charset "UTF-8";
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Medium.ttf?f0cdede053a22b990af8bba8841fe33a);
  font-weight: 500;
}
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Regular.ttf?d7d7b8359eeb9cddfba6cd4cef3c1702);
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url(/fonts/OpenSans-Bold.ttf?6e27168fc8a5a200a0265a9ac39d04d7);
  font-weight: 700;
}
:root {
  --atom-size: 40px;
  --atom-color-hex: #E42C64;
  --atom-color-rgb: 228, 44, 100;
  --nucleus-size: calc(var(--atom-size) / 5);
  --electron-color-hex: #E42C64;
  --electron-size: calc(var(--atom-size) / 25);
  --electron-orbit-size: calc(var(--atom-size) / 2.5);
  --electron-speed: 1.2s;
  --electron-speed-alpha: 1s;
  --electron-speed-omega: .8s;
}

.left-custom-gap {
  left: 24px;
}

.top-custom-gap {
  top: 24px;
}

.right-custom-gap {
  right: 24px;
}

.bottom-custom-gap {
  bottom: 24px;
}

.my-pink-bg {
  background-color: #E42C64;
  box-shadow: 0 2px 8px #E42C64;
}

.details-color {
  color: #E42C64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "OpenSans";
  color: #FAEDF0;
}

body {
  overflow: overlay;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #E42C64;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E42C64;
}

#app {
  overflow: hidden;
}

.app-container {
  background-color: #000000;
}

#enter-button {
  color: #E42C64;
  font-weight: 700;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}

.canvas-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #1d1e22, #121317);
  background: linear-gradient(45deg, #000000, #000000);
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: all 2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.gradientOn {
  opacity: 1;
  background: radial-gradient(at 50% -150%, #121B74 10px, 15%, #00000000 75%);
}

@-webkit-keyframes colorChange {
  to {
    transform: translateX(50%);
  }
}

@keyframes colorChange {
  to {
    transform: translateX(50%);
  }
}
.atom {
  position: fixed;
  z-index: 5;
  width: var(--atom-size);
  height: var(--atom-size);
  -webkit-animation: 8s atom infinite cubic-bezier(1, 0.25, 0, 0.75);
          animation: 8s atom infinite cubic-bezier(1, 0.25, 0, 0.75);
  top: 24px;
  left: 24px;
}
@media screen and (min-width: 768px) {
  .atom {
    top: 0;
    left: 0;
    position: relative;
  }
}

@-webkit-keyframes atom {
  0% {
    transform: rotate(0deg) scale(1);
  }
  12.5% {
    transform: rotate(-45deg) scale(0.9);
  }
  25% {
    transform: rotate(-90deg) scale(1);
  }
  37.5% {
    transform: rotate(-135deg) scale(0.9);
  }
  50% {
    transform: rotate(-180deg) scale(1);
  }
  62.5% {
    transform: rotate(-225deg) scale(0.9);
  }
  75% {
    transform: rotate(-270deg) scale(1);
  }
  87.5% {
    transform: rotate(-315deg) scale(0.9);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}

@keyframes atom {
  0% {
    transform: rotate(0deg) scale(1);
  }
  12.5% {
    transform: rotate(-45deg) scale(0.9);
  }
  25% {
    transform: rotate(-90deg) scale(1);
  }
  37.5% {
    transform: rotate(-135deg) scale(0.9);
  }
  50% {
    transform: rotate(-180deg) scale(1);
  }
  62.5% {
    transform: rotate(-225deg) scale(0.9);
  }
  75% {
    transform: rotate(-270deg) scale(1);
  }
  87.5% {
    transform: rotate(-315deg) scale(0.9);
  }
  100% {
    transform: rotate(-360deg) scale(1);
  }
}
/* Nucleus */
.atom::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--nucleus-size);
  height: var(--nucleus-size);
  margin-top: calc(var(--nucleus-size) / -2);
  margin-left: calc(var(--nucleus-size) / -2);
  background: var(--electron-color-hex);
  /* var(--atom-color-hex); */
  border-radius: 100%;
  box-shadow: 0 0 3px 0 var(--atom-color-hex);
  -webkit-animation: 2s nucleus infinite cubic-bezier(0.65, 0, 0.35, 1);
          animation: 2s nucleus infinite cubic-bezier(0.65, 0, 0.35, 1);
}

@-webkit-keyframes nucleus {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes nucleus {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
/* Electron Orbit */
.atom > [class^=electron] {
  border-top: solid rgba(var(--atom-color-rgb), 0.45) 1px;
  border-right: solid rgba(var(--atom-color-rgb), 0.35) 2px;
  border-bottom: solid rgba(var(--atom-color-rgb), 0.3) 4px;
  border-left: solid rgba(var(--atom-color-rgb), 0) 2px;
  border-radius: 100%;
  width: 100%;
  height: var(--electron-orbit-size);
  position: absolute;
  top: 50%;
  margin-top: calc(var(--electron-orbit-size) / -2);
}

.atom > .electron-alpha {
  transform: rotate(60deg);
}

.atom > .electron-omega {
  transform: rotate(-60deg);
}

/* Electron Unit */
.atom [class^=electron]::after {
  content: "";
  display: block;
  width: var(--electron-size);
  height: var(--electron-size);
  background: var(--electron-color-hex);
  border-radius: 50%;
  margin-top: calc(var(--electron-size) / -2);
  position: absolute;
  top: 50%;
  left: calc(var(--electron-size) / -1);
  transform: scale(1);
  -webkit-animation: calc(var(--electron-speed) * 2) electron infinite ease-in-out;
          animation: calc(var(--electron-speed) * 2) electron infinite ease-in-out;
}

.atom .electron-alpha::after {
  -webkit-animation: calc(var(--electron-speed-alpha) * 2) electron infinite ease-in-out;
          animation: calc(var(--electron-speed-alpha) * 2) electron infinite ease-in-out;
}

.atom .electron-omega::after {
  -webkit-animation: calc(var(--electron-speed-omega) * 2) electron infinite ease-in-out;
          animation: calc(var(--electron-speed-omega) * 2) electron infinite ease-in-out;
}

@-webkit-keyframes electron {
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(1.5);
  }
  25% {
    transform: scale(1);
  }
  37.5% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes electron {
  0% {
    transform: scale(1);
  }
  12.5% {
    transform: scale(1.5);
  }
  25% {
    transform: scale(1);
  }
  37.5% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(1);
  }
  62.5% {
    transform: scale(1.5);
  }
  75% {
    transform: scale(1);
  }
  87.5% {
    transform: scale(0.25);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes turnIt {
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
@keyframes turnIt {
  100% {
    transform: rotate3d(1, 1, 1, 360deg);
  }
}
.container {
  transition: all 1s ease-in-out;
}

.faded-right {
  transform: translateX(200%);
  opacity: 0;
}

.faded-left {
  transform: translateX(-200%);
  opacity: 0;
}

.faded {
  opacity: 0;
}

.social-links-nav, .links-nav {
  right: 24px;
  transition: all 1s ease-in-out;
}
.social-links-nav li, .links-nav li {
  border-radius: 50px;
}

.social-links-nav li, .links-nav li {
  margin: 6px 0;
}

.links-nav {
  top: 0;
  position: fixed;
  right: 0;
  transition: all 0.4s ease-in-out;
}
@media screen and (max-width: 768px) {
  .links-nav {
    width: 0;
  }
  .links-nav.open {
    width: 100vw;
  }
}
@media screen and (min-width: 768px) {
  .links-nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 36px;
  }
  .links-nav.background {
    background-color: #121B74;
    padding: 6px 36px;
    font-size: 12px;
    will-change: background-color;
  }
}
.links-nav .menu-toggle {
  background-color: #E42C64;
  border-radius: 50%;
  box-shadow: 0 2px 8px #E42C64;
  cursor: pointer;
  height: 56px;
  right: 24px;
  position: fixed;
  top: 24px;
  width: 56px;
  z-index: 20;
}
.links-nav .menu-toggle-bar {
  background-color: #ffffff;
  bottom: 0;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 16px;
  top: 0;
  transition: all 0.3s ease-in-out;
}
.links-nav .menu-toggle-bar:first-child {
  transform: translate3d(0, -4px, 0);
}
.links-nav .menu-toggle-bar:last-child {
  transform: translate3d(0, 4px, 0);
}
.links-nav .menu-toggle.toggled {
  background-color: #fff;
}
.links-nav .menu-toggle.toggled .menu-toggle-bar:first-child {
  transform: rotate(135deg) translate3d(0, 0, 0);
  background-color: #E42C64;
}
.links-nav .menu-toggle.toggled .menu-toggle-bar:last-child {
  transform: rotate(-135deg) translate3d(0, 0, 0);
  background-color: #E42C64;
}
.links-nav .menu-toggle.toggled .menu-toggle-bar:nth-child(2) {
  opacity: 0;
}
.links-nav ul {
  height: 100vh;
  background: black;
  background-color: #E42C64;
  transform: translateX(100%);
  opacity: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 20px;
}
@media screen and (min-width: 768px) {
  .links-nav ul {
    opacity: 1;
    top: 0;
    right: 0;
    transform: none;
    background: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0;
  }
}
.links-nav ul.open {
  transform: none;
  opacity: 1;
}
.links-nav ul li {
  transition: all 0.5s ease-in-out;
  margin: 50px;
}
@media screen and (min-width: 768px) {
  .links-nav ul li {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 0 10px;
    margin: 0 10px;
    font-size: 14px;
  }
  .links-nav ul li:last-of-type {
    padding-right: 0;
    margin-right: 0;
  }
}
.links-nav ul li.resume {
  color: #E42C64;
  border: 2px solid #E42C64;
  border-radius: 5px;
  padding: 6px 10px;
}

.links-nav.background li {
  font-size: 12px;
}

#introduction {
  background: linear-gradient(320deg, #121B74 25%, transparent 25%);
  background-position-x: 100vw;
  min-height: 100vh;
  transition: background-position-x 1s ease-in-out;
  min-height: 100vh;
  background-repeat: no-repeat;
  pointer-events: all;
}
#introduction.moved-in {
  background-position-x: 0;
}
@media screen and (min-width: 608px) {
  #introduction {
    background: linear-gradient(340deg, #121B74 30%, transparent 30%);
    background-position-x: 100vw;
    background-repeat: no-repeat;
  }
}

#introduction * {
  transition: 1s opacity ease-in-out, 1s transform ease-in-out;
}

#introduction h1, #introduction h2 {
  will-change: opacity;
}
#introduction h3 {
  margin-top: 1rem;
}
#introduction a {
  pointer-events: all;
  cursor: pointer;
  background: transparent;
  border: 2px solid #E42C64;
  color: #E42C64;
  border-radius: 5px;
  margin-top: 2rem;
}
#introduction a:hover {
  background-color: rgba(228, 44, 100, 0.2);
  color: #FAEDF0;
  box-shadow: 0 0 2px #E42C64, 0 0 8px #E42C64, 0 0 16px #E42C64;
}

#about-me {
  background: #121B74;
  min-height: 100vh;
}

.heading {
  font-size: clamp(40px, 8vw, 80px);
  line-height: 1;
}
section {
  padding: 40px 24px;
  z-index: 1;
}
@media (min-width: 468px) {
  section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (min-width: 1024px) {
  section {
    padding-left: 15rem;
    padding-right: 15rem;
  }
}
@media (min-width: 1324px) {
  section {
    padding-left: 20rem;
    padding-right: 20rem;
  }
}

.section-heading {
  font-size: clamp(30px, 4vw, 40px);
  font-weight: 700;
  color: #E42C64;
}

section p {
  line-height: 1.5;
  font-size: 18px;
  margin-top: 2rem;
}
@media screen and (min-width: 481px) {
  section p {
    width: 50%;
    font-size: 14px;
  }
}

#about-me * {
  transition: 1s opacity ease-in-out, 1s transform ease-in-out;
}
#about-me * ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
}
#about-me * li {
  padding-left: 20px;
  position: relative;
}
#about-me * li::before {
  content: "∴";
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  color: #E42C64;
  line-height: 12px;
}
#about-me * li span {
  will-change: opacity, transform;
}
#about-me .section-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column-reverse;
}
@media screen and (min-width: 620px) {
  #about-me .section-container {
    flex-direction: row;
  }
  #about-me .section-container > div:first-of-type {
    width: 50%;
  }
}
#about-me .section-container p {
  width: 100%;
}
#about-me .section-container .portrait {
  margin-top: 60px;
  margin-bottom: 30px;
  position: relative;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}
@media screen and (min-width: 620px) {
  #about-me .section-container .portrait {
    margin-left: 5rem;
  }
}
#about-me .section-container .portrait img {
  filter: grayscale(1);
  border-radius: 10px;
}
#about-me .section-container .portrait:hover:before {
  z-index: 2;
  bottom: 1rem;
  right: 1rem;
  transform: rotate3d(10, 10, 10, 145deg);
}
#about-me .section-container .portrait:hover:after {
  z-index: 2;
  top: 1rem;
  left: 1rem;
}
#about-me .section-container .portrait:before, #about-me .section-container .portrait:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: 0.3s ease;
  border-radius: 10px;
}
#about-me .section-container .portrait:before {
  background: #070608;
  opacity: 0.2;
  z-index: -1;
  bottom: 1.5rem;
  right: 1.5rem;
}
#about-me .section-container .portrait:after {
  background: #E42C64;
  opacity: 0.2;
  z-index: -1;
  top: 1.5rem;
  left: 1.5rem;
}

#projects {
  min-height: 100vh;
  background-color: #121B74;
}
#projects .section-heading {
  align-self: self-end;
  margin-bottom: 0.5rem;
  transition: 1s opacity ease-in-out, 1s transform ease-in-out;
}
#projects .section-container {
  width: 100%;
}
#projects .section-container--project {
  position: relative;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
}
#projects .section-container--project.faded-project-container:nth-of-type(even) {
  transform: translateX(200%);
  opacity: 0;
}
#projects .section-container--project:nth-of-type(even) .image-container {
  left: 0;
}
#projects .section-container--project:nth-of-type(even) .section-container--project-info {
  right: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
#projects .section-container--project:nth-of-type(even) .faded-project {
  transform: translateX(200%);
  opacity: 0;
}
#projects .section-container--project:nth-of-type(odd) .image-container {
  right: 0;
}
#projects .section-container--project:nth-of-type(odd) .section-container--project-info {
  left: 0;
}
#projects .section-container--project:nth-of-type(odd) .faded-project {
  transform: translateX(-200%);
  opacity: 0;
}
#projects .section-container--project-info {
  transition: 1s opacity ease-in-out;
  pointer-events: none;
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
@media screen and (min-width: 520px) {
  #projects .section-container--project-info {
    padding: 0;
  }
}
#projects .section-container--project-info--title {
  font-size: clamp(20px, 2vw, 30px);
  font-weight: 700;
}
#projects .section-container--project-info--description {
  line-height: 1.5;
  font-size: 18px;
  margin: 1.5rem 0;
  pointer-events: all;
}
@media screen and (min-width: 520px) {
  #projects .section-container--project-info--description {
    font-size: 14px;
    padding: 20px;
    background: #062743;
    width: 70%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #062743;
  }
}
#projects .section-container--project-info--link {
  color: #FAEDF0;
  pointer-events: all;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
#projects .section-container--project-info .section-container--project-info--link img {
  width: 15px;
  height: 15px;
}
#projects .section-container--project .image-container {
  position: absolute;
  border-radius: 5px;
  opacity: 0;
  overflow: hidden;
  transform: scale(4) translateX(-30%);
  -webkit-animation: travel 35s linear infinite;
          animation: travel 35s linear infinite;
}
@media screen and (min-width: 520px) {
  #projects .section-container--project .image-container {
    -webkit-animation: none;
            animation: none;
    transform: none;
    width: 60%;
  }
}
#projects .section-container--project .image-container.turned-on {
  opacity: 0.2;
}
@media screen and (min-width: 520px) {
  #projects .section-container--project .image-container.turned-on {
    opacity: 1;
  }
}
#projects .section-container--project .image-container.turned-on img {
  -webkit-animation: turn-on 4s linear;
          animation: turn-on 4s linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
#projects .section-container--project .image-container.turned-on:hover {
  filter: brightness(1.2);
  cursor: pointer;
}
#projects .section-container--project .image-container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: flicker 0.15s infinite;
          animation: flicker 0.15s infinite;
}
#projects .section-container--project .image-container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
}
@media screen and (min-width: 520px) {
  #projects .section-container--project .image-container::before {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 2px, 3px 100%;
  }
}

#contact {
  padding: 0;
  height: 100vh;
}
#contact * {
  transition: 1s opacity ease-in-out, 1s transform ease-in-out;
}
#contact a {
  pointer-events: all;
  cursor: pointer;
  background: transparent;
  border: 2px solid #E42C64;
  color: #E42C64;
  border-radius: 5px;
}
#contact a:hover {
  background-color: rgba(228, 44, 100, 0.2);
  color: #FAEDF0;
  box-shadow: 0 0 2px #E42C64, 0 0 8px #E42C64, 0 0 16px #E42C64;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.8186934863;
  }
  5% {
    opacity: 0.9331726741;
  }
  10% {
    opacity: 0.8568164512;
  }
  15% {
    opacity: 0.2000379243;
  }
  20% {
    opacity: 0.3306359932;
  }
  25% {
    opacity: 0.3790351183;
  }
  30% {
    opacity: 0.224161154;
  }
  35% {
    opacity: 0.5056118784;
  }
  40% {
    opacity: 0.6908510965;
  }
  45% {
    opacity: 0.8004109847;
  }
  50% {
    opacity: 0.4947930586;
  }
  55% {
    opacity: 0.5677477285;
  }
  60% {
    opacity: 0.1050734469;
  }
  65% {
    opacity: 0.9740965902;
  }
  70% {
    opacity: 0.1209126698;
  }
  75% {
    opacity: 0.8849829459;
  }
  80% {
    opacity: 0.6498442116;
  }
  85% {
    opacity: 0.1376808174;
  }
  90% {
    opacity: 0.7970866307;
  }
  95% {
    opacity: 0.1556379538;
  }
  100% {
    opacity: 0.2607218816;
  }
}

@keyframes flicker {
  0% {
    opacity: 0.8186934863;
  }
  5% {
    opacity: 0.9331726741;
  }
  10% {
    opacity: 0.8568164512;
  }
  15% {
    opacity: 0.2000379243;
  }
  20% {
    opacity: 0.3306359932;
  }
  25% {
    opacity: 0.3790351183;
  }
  30% {
    opacity: 0.224161154;
  }
  35% {
    opacity: 0.5056118784;
  }
  40% {
    opacity: 0.6908510965;
  }
  45% {
    opacity: 0.8004109847;
  }
  50% {
    opacity: 0.4947930586;
  }
  55% {
    opacity: 0.5677477285;
  }
  60% {
    opacity: 0.1050734469;
  }
  65% {
    opacity: 0.9740965902;
  }
  70% {
    opacity: 0.1209126698;
  }
  75% {
    opacity: 0.8849829459;
  }
  80% {
    opacity: 0.6498442116;
  }
  85% {
    opacity: 0.1376808174;
  }
  90% {
    opacity: 0.7970866307;
  }
  95% {
    opacity: 0.1556379538;
  }
  100% {
    opacity: 0.2607218816;
  }
}
@-webkit-keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@-webkit-keyframes expand {
  100% {
    max-height: 400px;
    opacity: 0.5;
  }
  0% {
    max-height: 0;
    opacity: 0;
  }
}
@keyframes expand {
  100% {
    max-height: 400px;
    opacity: 0.5;
  }
  0% {
    max-height: 0;
    opacity: 0;
  }
}
@-webkit-keyframes travel {
  0% {
    transform: scale(4) translateX(-30%);
  }
  100% {
    transform: scale(4) translateX(30%);
  }
}
@keyframes travel {
  0% {
    transform: scale(4) translateX(-30%);
  }
  100% {
    transform: scale(4) translateX(30%);
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
/*
! tailwindcss v3.0.15 | MIT License | https://tailwindcss.com
*//*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/

html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/*
Ensure the default browser behavior of the `hidden` attribute.
*/

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {

  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {

  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {

  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {

  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {

  .container {
    max-width: 1536px;
  }
}
.visible {
  visibility: visible;
}
.fixed {
  position: fixed;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.top-0 {
  top: 0px;
}
.right-0 {
  right: 0px;
}
.top-2\/3 {
  top: 66.666667%;
}
.left-1\/2 {
  left: 50%;
}
.z-10 {
  z-index: 10;
}
.z-20 {
  z-index: 20;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.mt-4 {
  margin-top: 1rem;
}
.ml-4 {
  margin-left: 1rem;
}
.mt-8 {
  margin-top: 2rem;
}
.ml-12 {
  margin-left: 3rem;
}
.-mt-px {
  margin-top: -1px;
}
.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.hidden {
  display: none;
}
.h-5 {
  height: 1.25rem;
}
.h-8 {
  height: 2rem;
}
.h-16 {
  height: 4rem;
}
.h-screen {
  height: 100vh;
}
.h-fit {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.min-h-screen {
  min-height: 100vh;
}
.w-5 {
  width: 1.25rem;
}
.w-8 {
  width: 2rem;
}
.w-auto {
  width: auto;
}
.w-full {
  width: 100%;
}
.w-screen {
  width: 100vw;
}
.w-fit {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.max-w-6xl {
  max-width: 72rem;
}
.max-w-xl {
  max-width: 36rem;
}
.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
@-webkit-keyframes pulse {

  50% {
    opacity: .5;
  }
}
@keyframes pulse {

  50% {
    opacity: .5;
  }
}
.animate-pulse {
  -webkit-animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
          animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.cursor-pointer {
  cursor: pointer;
}
.resize {
  resize: both;
}
.list-none {
  list-style-type: none;
}
.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.flex-col {
  flex-direction: column;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.overflow-hidden {
  overflow: hidden;
}
.whitespace-nowrap {
  white-space: nowrap;
}
.rounded-full {
  border-radius: 9999px;
}
.border-t {
  border-top-width: 1px;
}
.border-r {
  border-right-width: 1px;
}
.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}
.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}
.p-6 {
  padding: 1.5rem;
}
.p-5 {
  padding: 1.25rem;
}
.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}
.pt-8 {
  padding-top: 2rem;
}
.text-center {
  text-align: center;
}
.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
.font-semibold {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.leading-7 {
  line-height: 1.75rem;
}
.tracking-wider {
  letter-spacing: 0.05em;
}
.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}
.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}
.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}
.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}
.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacity-0 {
  opacity: 0;
}
.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.transition {
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media (prefers-color-scheme: dark) {

  .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
}
@media (min-width: 640px) {

  .sm\:items-center {
    align-items: center;
  }

  .sm\:justify-start {
    justify-content: flex-start;
  }

  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:pt-0 {
    padding-top: 0px;
  }
}
@media (min-width: 768px) {

  .md\:mt-8 {
    margin-top: 2rem;
  }

  .md\:hidden {
    display: none;
  }

  .md\:flex-row {
    flex-direction: row;
  }

  .md\:items-center {
    align-items: center;
  }

  .md\:text-6xl {
    font-size: 3.75rem;
    line-height: 1;
  }
}
@media (min-width: 1024px) {

  .lg\:px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
